<template name="views_insertionDetails">
    <div class="row">
        <div class="col s1"></div>
        <div class="col s10 text-center">
            <h4 class="row">{{insertion.title}}</h4>
            <h5 class="row">{{getUserNameByAddress insertion.owner}}</h5>
            <div class="row">
                {{#each skill in (insertion.skills)}}
                    <div class="chip">{{skill}}</div>
                {{/each}}
            </div>
            <div class="row">
                <div class="col s8">
                    <p style="text-align: justify">{{insertion.description}}</p>
                </div>
                <div class="col s4">
                    {{#if isProject insertion}}
                        <h4 class="bold no-margin">{{dapp_formatBalance insertion.projectRate}} ETH</h4>
                        <p class="no-margin">{{getUnit insertion}}</p>
                        <p></p>
                        <a class="js-cooperate waves-effect waves-light btn" href="">Cooperate</a>
                    {{else}}
                        <h4 class="bold no-margin">{{dapp_formatBalance insertion.hourlyRate}} ETH/h</h4>
                        <p class="no-margin">Hourly rate</p>
                        <p></p>
                        <a class="js-cooperate waves-effect waves-light btn" href="">Cooperate</a>
                    {{/if}}
                    <!--{{#if isOwner insertion}}-->
                        <!--<p></p>-->
                        <!--<a class="js-deactivate waves-effect waves-light btn" href="">Deactivate</a>-->
                    <!--{{/if}}-->
                </div>
            </div>
        </div>
        <div class="col s1"></div>
    </div>
</template>