// libs
@import '{ethereum:dapp-styles}/dapp-styles.less';

@base: crimson;

.dapp-aside {
  background-color: white;
}

.dapp-aside nav ul li a {
  color: @base !important;
}

.dapp-aside nav ul li a:active {
  color: @base;
  font-weight: bold !important;
}

.dapp-content {
  background-color: white;
}

.dapp-box {
  background-color: white;
  border: solid;
  border-color: @base;
}

.dapp-header {
  background-image: none !important;
  background-color: @base;
}

.dapp-header nav ul li a {
  color: white !important;
}