<template name="components_campaignCreateBasic">
    <div class="section text-center">
        <h4>Let's go!</h4>
        <h5>The first impression is very important:</h5>
        <h5>Give a quick overview of your campaign</h5>
    </div>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="title" type="text" length="50">
                    <label for="title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="description" class="materialize-textarea" length="100"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select multiple>
                        <option value="" disabled selected>Choose a category</option>
                        {{#each category in categories}}
                            <option value="{{category}}">{{category}}</option>
                        {{/each}}
                    </select>
                    <label>Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input id="duration" type="number">
                    <label for="duration">Duration in days</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="goal" type="number">
                    <label for="goal">Goal in ETH</label>
                </div>
            </div>
            <div class="row">
                <a class="js-next waves-effect waves-light btn right"><i class="material-icons right">navigate_next</i>next</a>
            </div>
        </form>
    </div>
</template>