<template name="components_campaignCard">
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img class="center-cropped" src="/images/{{this.picture}}">
            </div>
            <div class="card-content">
                <div class="section" style="padding-top: 0 !important;">
                    <p class="bold">{{this.name}}</p>
                    <p>{{this.author}}</p>
                </div>
                <p style="height: 150px; overflow: auto;">{{this.description}}</p>
                <div class="section">
                    <div class="progress">
                        <div class="determinate" style="width: 60%"></div>
                    </div>
                    <div class="row">
                        <div class="col s4">
                            <p class="bold">{{getPercentage this.reached this.goal}} %</p>
                            <p>financed</p>
                        </div>
                        <div class="col s4">
                            <p class="bold">{{this.reached}} ETH</p>
                            <p>reached</p>
                        </div>
                        <div class="col s4">
                            <p class="bold">{{getLeftDays this.deadline}}</p>
                            <p>left</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <a href=""><i class="material-icons">share</i></a>
                <a href=""><i class="material-icons">favorite_border</i></a>
                <a class="js-details" href="/campaigns/{{this._id}}"><i class="material-icons">description</i></a>
            </div>
        </div>
    </div>
</template>