<template name="components_campaignCreateBackground">
    <div class="section text-center">
        <h4>Tell us more about your project.</h4>
    </div>
    <div id="froala-editor">
        <p>Here you can describe your project. You can also design this page as much you'd like.</p>
    </div>
    <p></p>
    <div class="row">
        <a class="js-back waves-effect waves-light btn left"><i class="material-icons left">navigate_before</i>back</a>
        <a class="js-next waves-effect waves-light btn right"><i class="material-icons right">navigate_next</i>next</a>
    </div>
</template>