<template name="views_campaigns">
    <div class="row">
        <div class="col s12 no-padding">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#my">My Campaigns</a></li>
                <li class="tab col s3"><a href="#popular">Most Popular</a></li>
                <li class="tab col s3"><a href="#recent">Most Recent</a></li>
                <li class="tab col s3"><a href="#categories">Categories</a></li>
                <!--<li class="tab col s3"><a href="#all">All</a></li>-->
            </ul>
        </div>
    <div id="my" class="col s12">
        <div class="row section no-margin">
            <div class="col">
                <a class="js-start-campaign waves-effect waves-teal btn"><i
                        class="material-icons left">play_arrow</i>start
                    new campaign</a>
            </div>
        </div>
        {{#unless isArrayEmpty pendingCampaigns}}
            <div class="row no-margin">
                <h5 class="col bold">Pending Campaigns</h5>
            </div>
            <div class="slick-carousel">
                {{#each campaign in pendingCampaigns}}
                    {{> components_campaignCard campaign}}
                {{/each}}
            </div>
        {{/unless}}
        {{#unless isArrayEmpty myLiveCampaigns}}
            <div class="row no-margin">
                <h5 class="col bold">My Live Campaigns</h5>
            </div>
            <div class="slick-carousel">
                {{#each campaign in myLiveCampaigns}}
                    {{> components_campaignCard campaign}}
                {{/each}}
            </div>
        {{/unless}}
        {{#unless isArrayEmpty contributedCampaigns}}
            <div class="row no-margin">
                <h5 class="col bold">Contributed Campaigns</h5>
            </div>
            <div class="slick-carousel">
                {{#each campaign in contributedCampaigns}}
                    {{> components_campaignCard campaign}}
                {{/each}}
            </div>
        {{/unless}}
        </div>
        <div id="popular" class="col s12">
            <div class="row">
                {{#each campaign in mostPopularCampaigns}}
                    {{> components_campaignCard campaign}}
                {{/each}}
            </div>
        </div>
        <div id="recent" class="col s12">
            <div class="row">
                {{#each campaign in mostRecentCampaigns}}
                    {{> components_campaignCard campaign}}
                {{/each}}
            </div>
        </div>
        <div id="categories" class="col s12">
            <div class="row section" style="margin-bottom: 0">
                {{#each category in categories}}
                    <a class="js-select-category waves-effect btn-flat col s4 m3 center-align">{{category.category}}</a>
                {{/each}}
            </div>
            <div class="row section no-padding">
                {{#each category in selectedCategories}}
                    <div id="{{category}}" class="chip">
                        <a>{{category}}</a>
                        <i class="js-remove-category close material-icons">close</i>
                    </div>
                {{/each}}
            </div>
            {{#each category in selectedCategories}}
                <div class="row section">
                    <h5>{{category}}</h5>
                    {{#each campaign in getFilteredCampaigns category}}
                        {{> components_campaignCard campaign}}
                    {{/each}}
                </div>
            {{/each}}
        </div>
        <div id="all" class="col s12"></div>
    </div>
</template>