<template name="views_campaignCreate">
    <div class="row">
        <div class="col s12 no-padding">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#basic">Basic</a></li>
                <li class="tab col s3"><a href="#rewards">Rewards</a></li>
                <li class="tab col s3"><a href="#background">Background</a></li>
                <li class="tab col s3"><a href="#author">Author</a></li>
            </ul>
        </div>
        <div id="basic" class="col s12">{{> components_campaignCreateBasic}}</div>
        <div id="rewards" class="col s12">{{> components_campaignCreateRewards}}</div>
        <div id="background" class="col s12">{{> components_campaignCreateBackground}}</div>
        <div id="author" class="col s12">{{> components_campaignCreateAuthor}}</div>
    </div>
</template>