<template name="views_contracts">
    <div class="row">
        <div class="col s12">
            <div class="row section no-margin">
                <div class="col">
                    <a class="js-create-contract waves-effect waves-teal btn"><i
                            class="material-icons left">play_arrow</i>create
                        new contract</a>
                </div>
                <div class="col">
                    <a class="js-change-contract waves-effect waves-teal btn"><i
                            class="material-icons left">play_arrow</i>change contract</a>
                </div>
            </div>
            {{#unless isArrayEmpty pendingTransactions}}
                <div class="row no-margin">
                    <h5 class="col bold">Pending Transactions</h5>
                </div>
                <div class="row">
                    {{#each transaction in pendingTransactions}}
                        {{> components_transactionCard transaction}}
                    {{/each}}
                </div>
            {{/unless}}
            {{#unless isArrayEmpty pendingContracts}}
                <div class="row no-margin">
                    <h5 class="col bold">Pending Contracts</h5>
                </div>
                <div class="row">
                    {{#each contract in pendingContracts}}
                        {{> components_contractCard contract}}
                    {{/each}}
                </div>
            {{/unless}}
            {{#unless isArrayEmpty acceptedContracts}}
                <div class="row no-margin">
                    <h5 class="col bold">Accepted Contracts</h5>
                </div>
                <div class="row">
                    {{#each contract in acceptedContracts}}
                        {{> components_contractCard contract}}
                    {{/each}}
                </div>
            {{/unless}}
            <!--{{#unless isArrayEmpty contractsToBeFullfilled}}-->
                <!--<div class="row no-margin">-->
                    <!--<h5 class="col bold">Contracts to be fullfilled</h5>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--{{#each contract in contractsToBeFullfilled}}-->
                        <!--{{> components_contractCard contract}}-->
                    <!--{{/each}}-->
                <!--</div>-->
            <!--{{/unless}}-->
            <!--{{#unless isArrayEmpty fullfilledContracts}}-->
                <!--<div class="row no-margin">-->
                    <!--<h5 class="col bold">Fullfilled Contracts</h5>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--{{#each contract in fullfilledContracts}}-->
                        <!--{{> components_contractCard contract}}-->
                    <!--{{/each}}-->
                <!--</div>-->
            <!--{{/unless}}-->
        </div>
    </div>
</template>