<template name="views_contracts">
    <div class="row">
        <div class="col s12">
            <div class="row section no-margin">
                <div class="col">
                    <a class="js-create-contract waves-effect waves-teal btn"><i
                            class="material-icons left">play_arrow</i>create
                        new contract</a>
                </div>
            </div>
            {{#unless isArrayEmpty pendingTransactions}}
                <div class="row no-margin">
                    <h5 class="col bold">Pending Transactions</h5>
                </div>
                <div class="slick-carousel">
                    {{#each transaction in pendingTransactions}}
                        {{> components_transactionCard transaction}}
                    {{/each}}
                </div>
            {{/unless}}
        </div>
    </div>
</template>