<template name="components_providerInsertionForm">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="title" type="text" class="validate">
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="description" class="materialize-textarea"></textarea>
                <label for="description">Description</label>
            </div>
        </div>
        <div class="row">
            <p class="col s12">Please enter your skills:</p>
            <div class="input-field col s12">
                <div type="text" id="skills" class="chips"></div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="hourlyRate" type="number" class="validate">
                <label for="hourlyRate">Hourly rate (ETH/h)</label>
            </div>
        </div>
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6 text-center">
                <a class="js-start waves-effect waves-light btn">
                    <i class="material-icons left">launch</i>publish
                </a>
            </div>
            <div class="col s3"></div>
        </div>
    </form>
</template>