<template name="layout_actionbar">
    <aside class="dapp-aside">
        <nav>
            <ul>
                <li>
                    <a href="#" class="active">
                        <i class="icon-arrow-down3"></i>
                        <span>Receive</span>
                    </a>
                    <a href="#">
                        <i class="icon-arrow-up2"></i>
                        <span>Send</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</template>