<template name="layout_header">
    <header class="dapp-header">
        <nav>
            <ul>
                <li>
                    <a href="/">
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="/campaigns">
                        <span>Campaigns</span>
                    </a>
                </li>
                <li>
                    <a href="/contracts">
                        <span>Contracts</span>
                    </a>
                </li>
                <li>
                    <a href="/messages">
                        <span>Messages</span>
                    </a>
                </li>
                <li style="float: right">
                    <a href="/profile">
                        <span>Profile</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</template>