<template name="layout_header">
    <header>
        <nav>
            <div class="nav-wrapper">
                <a data-activates="slide-out" class="button-collapse btn-flat">
                    <i class="material-icons" style="color: white">view_headline</i>
                </a>
                <a href="#" class="brand-logo center">Creative Cooperation Portal</a>
                <ul>
                    <li style="float: right"><a><i class="material-icons">notifications</i></a></li>
                    <li style="float: right"><a><i class="material-icons">settings</i></a></li>
                </ul>
            </div>
        </nav>
    </header>
</template>