<template name="layout_main">
    <!-- The dynamic page header -->
    {{> Template.dynamic template=header}}

    <div class="dapp-flex-content">

        <!-- sidebar -->
        {{> Template.dynamic template=sidebar}}

        <!-- content -->
        <main class="dapp-content">
            {{> Template.dynamic template=main}}
        </main>

        <!-- actionbar -->
        {{> Template.dynamic template=actionbar}}

    </div>

    <!-- The dynamic page footer -->
    {{> Template.dynamic template=footer}}
</template>