<template name="layout_sidebar">
    <ul id="slide-out" class="side-nav fixed">
        <li>
            <div class="userView center">
                <div class="background"></div>
                <a><i class="material-icons large">account_circle</i></a>
                <a><span class="name">{{getUserNameByAddress account.address}}</span></a>
                <p class="no-margin">{{dapp_formatBalance account.balance '0.000' 'ether'}} ETH</p>
                <span class="email truncate">{{account.address}}</span>
            </div>
        </li>
        <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
        <li><a href="/campaigns"><i class="material-icons left">apps</i>Campaigns</a></li>
        <li><a href="/insertions"><i class="material-icons left">assignments</i>Insertions</a></li>
        <li><a href="/contracts"><i class="material-icons left">insert_drive_file</i>Contracts</a></li>
        <li><a href="/shop"><i class="material-icons left">shop</i>Shop</a></li>
        <li><a href="/votings"><i class="material-icons left">poll</i>Votings</a></li>
    </ul>
</template>